.navbar-container{
    display: flex;
    flex-direction: column;
    background: #1a2f49;
    color: aliceblue;
    top:0ch; 
    padding: 4ch;
    width: 100%;
    position: relative;

}
.buttons-nav{
font-size: 22px;
}

.nav-btns{
text-align: center;

}

.link-btn{
padding: 1ch;

    color: rgb(255, 255, 255);
    text-decoration: none;

}