
.logo-img {
    position: relative;
    width: 90%;
    height: 30ch;
    padding: 2ch;

}
.justify-content-sm-center{
    position: relative;
    background: #ffffffcb;

    top:5ch; 
    padding-right: 2ch;

}

.tagline{
    font-family: 'Red Hat Display', sans-serif; 
    font-style: normal;
    font-weight: 300;
    font-size: 29px;
    line-height: 38px;
    padding-top: 3ch;
    padding-bottom: 4ch;
    padding-right: 4ch;
    color: #000000;
    
}

.banner-container{
padding: 1ch !important;
margin: 0ch !important;
}

.poolandspa-tag{
    font-family: 'Red Hat Display', sans-serif;
    position: relative;
    font-style: bold;
    font-weight: 300;
    font-size: 50px;
    line-height: 40px;
    padding-top: 2.5ch;
    color: #000000;
}
